* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: px;
  border-radius: 50%;
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: gray; */
  position: relative;
}

#container {
  position: absolute;
  top: 30%;
  left: 25%;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(249deg,#4dd70300,#6691496b,#9afa4c56,#520fcf42,#b8620c42,#59a78152);
  background-size: 360% 360%;
  animation: gradient-animation 42s ease infinite;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.cards {
  background-color: transparent;
  display: flex;
  padding: 10px 15px;     
  gap: 50px;
  align-items: center;
}

.cards h3 {
  width: 80px;
}

.playNowBtn {
  background-color: transparent;
  border: none;  
}
 .cards .fa-solid {
  font-size: 30px;
  color: #3D3E7C;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
 }
 
 .cards .fa-solid:hover {
  color: white;
  background-color: #3D3E7C;
 }

audio {
    width: 300px; /* Set the width of the audio player */
    height: 50px; /* Set the height of the audio player */
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    box-shadow: none; /* No shadow */
}




.fa-solid {
    color: black;
    font-size: 15px;
    border:none;
    padding: 5px 10px;; 
    background: transparent;
}

.btns {
  display: flex;
  padding: 10px;
  margin: 0;
  gap: 10px;  
  
}

.names {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  color: white;
  text-shadow: 3cm 3cm 3cm 3cm black;

}

#Nav-icons {
  font-size: 50px;
  transition: 0.1s;
}


#Nav-icons:hover {
  font-size: 80px;

}

nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: transparent;
    /* border: 1px solid white; */
}
i {
  transition: 0.3s ease-in-out;
}


section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}



section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}


img {
 
  border-radius: 50%;

  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 


#search-input{
    display: none;
}
